/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$f: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$ft: 'Roboto', sans-serif;

/* Colors */

$c1: #111; /* couleur du texte*/
$c2: #fff; /* couleur du fond des cadres */

$bx: 0px 0px 10px #666;

/* WEBSITE */

body {
	font-family: $f;
	margin: auto;
/*	background-size: cover;
	background-image: url(/dist/img/bg1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	*/
}


header{

	background: $c2;
	display: flex;
	justify-content: space-between;
	height: 50px;
	opacity: 0.95;
	
	box-shadow: $bx;


	
	
	.logo{
		font-family: $ft;
		color: $c1;
		font-size:20px;
		margin: auto;
		margin-left: 5%;
		font-weight: 700;

	}

	.connect {
		margin: auto;
		font-size:13px;
		margin-right: 5%;
	}

	a {
		text-decoration: none;
		color: $c1;
		font-weight: 700;
	}

	a:hover {
		
	}


	
}

.ressources {
		
		width: 40%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: auto;
		height: 60px;

		.boxressources {
			border: 1px solid #ccc;

			width: 80px;
			height: 30px;
			margin:auto;
		}

		p {
			margin: 0;
			text-align: center;
			
		}
		
		

		
	}

.wrapper{
	
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:auto;
	margin-top: 2%;
	color: $c1;


	


	nav{
		width: 60%;
		margin-right: 5%;

	}

	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		margin: auto;
		padding-top: 10px;
		padding-left: 0px;
		box-shadow: $bx;
		margin-left: 15%;
	}

	

	li {
		margin:20px;
		margin-left: 0px;
		width: 100%;
		height: 20px;
		list-style: none;
		/*box-shadow: $bx;*/
		text-align: center;


	}

	hr {
		width: 100%;
		color: #aaa;
	}

	a {
		text-decoration: none;
		color: $c1;
		font-weight: 700;
		font-size: 13px;
	}

	a:hover {
		border-bottom: 2px solid $c1;
	}


	.left {
		
		width: 30%;


	}
	

	.right {
		
		width: 60%;

		border: 1px solid #ccc;
		background: $c2;
		width: 100%;
		height: 500px;
		opacity: 0.9;
		margin: 50px;
		margin-top: -20px;
	}


}