/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$f: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$ft: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

$fo: 'Orbitron', sans-serif;

/* Colors */

$c1: #fff; /* couleur du texte*/
$c2: #27312F; /* couleur du fond des cadres */

$bx: 0px 0px 10px #666;

/* WEBSITE */

body {
	font-family: $fo;
	margin: auto;
/*	background-size: cover;
	background-image: url(/dist/img/bg1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;

	*/
	background-image: url(/dist/img/bg2.png);
	background-repeat: no-repeat;
	background-size: 100%;
}


header{

	background: $c2;
	display: flex;
	justify-content: space-between;
	height: 50px;
	opacity: 0.9;
	color: white;
	
	


	
	
	.logo{
		font-family: $fo;
		color: $c1;
		font-size:20px;
		margin: auto;
		margin-left: 5%;
		font-weight: 500;

	}

	.connect {
		margin: auto;
		font-size:13px;
		margin-right: 5%;
	}

	a {
		text-decoration: none;
		color: $c1;
		font-weight: 700;
	}

	a:hover {
		
	}


	
}



.wrapper{
	
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:auto;
	margin-top: 2%;
	color: $c1;
	height: 100%;



	


	

	


	hr {
		width: 100%;
		color: #aaa;
	}

	a {
		text-decoration: none;
		color: $c1;
		font-weight: 700;
		font-size: 13px;
	}

	a:hover {
		border-bottom: 2px solid $c1;
	}


	.left {
		
		width: 30%;


	}
	

	.right {
		
		

		/*border: 1px solid #547168;*/
		
		width: 100%;
		height: 600px;
		
		margin: 50px;
		margin-top: -20px;
	}



	#planetebox {
		/*background: red;*/
		
		width: 100%;
		height: 100%;
		display: flex;
	}

	.planet {
		width: 70px;
		height: 70px;
		position: relative;
		border-radius: 100px;
		/*background: blue;*/
		
		
	}

	.planet:hover {
		box-shadow: 0 0 0 5px #fff; 

		-webkit-transform: scale(0.925);
        -moz-transform: scale(0.925);
        -ms-transform: scale(0.925);
        -o-transform: scale(0.925);
        transform: scale(0.925);
        transition: 0.8s;
	}

	.planet:active {
		
		transform: scale(1.2);
		transition:0.1s;
	}


	.type0 {
		background-size: 100%;
		background-image: url(/dist/img/Type0.png);
		background-repeat: no-repeat; 
	}

	.type1 {
		background-size: 100%;
		background-image: url(/dist/img/Type1.png);
		background-repeat: no-repeat; 
	}

	.type2 {
		background-size: 100%;
		background-image: url(/dist/img/Type2.png);
		background-repeat: no-repeat; 
	}

	.type3 {
		background-size: 100%;
		background-image: url(/dist/img/Type3.png);
		background-repeat: no-repeat; 
	}

	.Pdescription {
		width: 400px;
		/*height: 500px;*/
		background: $c2;
		position: absolute;
		display: flex;
		left: 1%;
		/*display: none;*/ /*mettre en commentaire pour bosser sur la Pdescri en off*/
		flex-direction: column;
		opacity: 0.9;
		
		z-index: 100;
		
		
		
	}

	.boxP {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	.headP {
		
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-between;
	}

	.nameP {
		margin: auto;
		margin-left: 2%;
		width: 60%;
		
		border-bottom: 2px solid #48817F;
	}
	
	.close {
		
		width: 25px;
		height: 25px;
		margin: auto;
		margin-right: 2%;
		line-height: 30px;
		font-size: 25px;
		text-align: center;
		color: #48817F;
		/*border: 1px solid #48817F;*/
		display: flex;
		padding: auto;
		

	}

	.close:hover {
		color: white;
	}

	.bodyP {
		display: flex;
		flex-direction: column;
	}

	.bodyP-top {
		height: 200px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 20px;

	}

	.bodyP-left {
		width: 40%;
		margin:auto;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.bodyP-right {
		width: 40%;
		margin:auto;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.Pparam {
		background: #1C2422;
		height: 50px;
		font-size: 12px;
		padding: 10px;
		margin-bottom: 10px;

	}
	.bodyP-bottom {
		margin-top: 50px;
	}
	
	.ressources {

		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: auto;
		height: 100px;
		background: #1C2422;
		margin-top: 20px;



		p {
			margin: 0;
			text-align: center;
			margin-top: 10px;
			margin-bottom: 10px;

		}
		
		.ressources-box {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			margin: auto;
			height: 100%;
		}



	}

	.Rtitle {
		margin: auto;
		width: 70%;
		text-align: center;
		border-bottom: 2px solid #48817F;
	}
	

	.onglets {
		margin: auto;
		height: 60px;
		width: 100%;
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background:  #1C2422;
		/*border-top:  2px solid#1C2420;*/
		padding: 0;
		height: 100%;
	}

	li {
		text-align: center;
		list-style: none;
/*		background: green;*/
		margin: 0;
		margin-right: 20px;
		width: 180px;
		vertical-align: middle;
		padding-top: 10px;
		display: flex;
	}

	li:hover {
		color:#48817F;
	/*	box-shadow: 0 0 0 5px #fff; */
		-webkit-transform: scale(0.925);
        -moz-transform: scale(0.925);
        -ms-transform: scale(0.925);
        -o-transform: scale(0.925);
        transform: scale(0.925);
        transition: 0.8s;
	}

	li:active {
		
		transform: scale(1.2);
		transition:0.1s;
	}

	li p {
		margin: auto;
		padding: auto;
	}


	.bodyC{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 20px;
		display: none;
		margin-bottom: 30px;
	}

	.bodyC-top {
		height: 100%;
	}
	
	.batibox{
		background: #1C2422;
		width: 160px;
		height: 50px;
		font-size: 12px;
		padding: 10px;
		margin-bottom: 10px;
	}

	.terrain:hover {
		-webkit-transform: scale(0.925);
        -moz-transform: scale(0.925);
        -ms-transform: scale(0.925);
        -o-transform: scale(0.925);
        transform: scale(0.925);
        transition: 0.3s;
	}
}





@media all and (max-device-width: 800px)  {
	body{
		background-size: 500%;
	}
		
	.wrapper .Pdescription{
		width: 90%;
		left: 5%;
		top:80px;
	}

}
